/* Font Styles */
@font-face {
  font-family: 'Cytone';
  src: url("/fonts/Cytone-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Fairy';
  src: url("/fonts/Fairymuffinroundpop.ttf") format("truetype");
}

/* Header Styles */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 9%;
  width: 100%;
  text-shadow: 4px 4px #0615e2;
  box-sizing: border-box;
  padding: 3px;
}

#header, .text-container {
  display: flex;
  font-family: 'Cytone';
  color: white;
  font-size: calc(16px + 2.5vw);
  text-align: center;
  margin: 0 auto;
  width: auto;
  scale: 90%;
  align-items: center;
}

/* Navigation Styles */
nav.left-nav, nav.right-nav {
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-top: 20px;
}

nav.left-nav a, nav.right-nav a {
  margin: 0px 40px; /* Adjust the margin as needed */
  text-decoration: none;
  color: white;
  font-family: 'Fairy';
}

/* Responsive Logo Size */
.logo {
  font-size: 4.5rem; /* Set an initial font size */
}

/* Body Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #001aff;
  /* Default bright mode color */
  transition: background-color 0.3s ease;
}

/* Night Mode Styles */
.night-mode {
  background-color: black;
  /* Night mode color */
}

/* Container Styles */
.container {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Button styles */
.btn {
  margin-top: -2%;
  margin-right: -5.25%;
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;
  background-color: black;
  background-image: url('/images/4444/moon.gif');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 100;
}



/* Twitch Styles */
#twitch-container {
  overflow: hidden;
  margin-top: 25px;
  margin-left: 70px;
  display: flex;
  width: 100%;
}

#twitch-player {
  flex: 2;
  aspect-ratio: 16/9;
  max-width: calc(75% - 10px);
}

#twitch-chat-embed {
  flex: 1;
  max-width: 350px;
  width: 100%; /* Ensure the embed doesn't exceed its parent width */
}
/* Cursor Styles */
* {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-1/cur25.ani), url(https://cur.cursors-4u.net/cursors/cur-1/cur25.png), auto !important;
}
