@font-face {
  font-family: 'Cytone';
  src: url("/fonts/Cytone-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Fairy';
  src: url("/fonts/Fairymuffinroundpop.ttf") format("truetype");
}

/* Header styles */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 9%;
  width: 100%;
  text-shadow: 4px 4px #0615e2;
  box-sizing: border-box;
  padding: 3px;
}

#header, .text-container {
  display: flex;
  font-family: 'Cytone';
  color: white;
  font-size: calc(16px + 2.5vw);
  text-align: center;
  margin: 0 auto;
  width: auto;
  scale: 90%;
  align-items: center;
}

/* Navigation styles */
nav.left-nav, nav.right-nav {
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-top: 20px;
}

nav.left-nav a, nav.right-nav a {
  margin: 0px 65px;
  text-decoration: none;
  color: white;
  font-family: 'Fairy';
}

/* Body styles */
body {
  margin: 0;
  padding: 0;
  background-color: #001aff;
  /* Default bright mode color */
  transition: background-color 0.3s ease;
}

/* Night mode styles */
.night-mode {
  background-color: black;
  /* Night mode color */
}

/* Container styles */
.container {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Button styles */
.btn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Cursor styles */
* {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-1/cur25.ani), url(https://cur.cursors-4u.net/cursors/cur-1/cur25.png), auto !important;
}
